<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :Nombres %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "Nombres" %>
  </div>

  <div class="field">
    <%= f.label :Apellidos %><br />
    <%= f.text_field :surname, autofocus: true, autocomplete: "Apellidos" %>
  </div>

  <div class="field">
    <%= f.label :Documento_de_Identidad %><br />
    <%= f.text_field :document, autofocus: true, autocomplete: "Documento de Identidad" %>
  </div>

  <div class="field">
    <%= f.label :Fecha_de_Nacimiento %><br />
    <%= f.date_field :birthday, as: :date, value: f.object.try(:strftime,"%m/%d/%Y")%>
  </div>

  <div class="field">
    <%= f.label :Teléfono_Móvil %><br />
    <%= f.text_field :phone, autofocus: true, autocomplete: "Teléfono Móvil" %>
  </div>

  <div class="field">
    <%= f.label :Correo_Elctrónico %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "Correo Electrónico" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Actualmente esperando confirmación para: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :Nueva_Contraseña %> <i>(déjela en blanco si no quiere cambiarla)</i><br />
    <%= f.password_field :password, autocomplete: "Nueva Contraseña" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> caracteres mínimo</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :Confirmar_Nueva_Contraseñan %><br />
    <%= f.password_field :password_confirmation, autocomplete: "Confirmar Nueva Contraseña" %>
  </div>

  <div class="field">
    <%= f.label :Contraseña_Actual %> <i>(necesitamos tu contraseña actual para confirmar cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "Contraseña Actual" %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar" %>
  </div>
<% end %>

<h3>Cancelar mi cuenta</h3>

<p>¿No era lo que esperabas?<%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estas seguro?" }, method: :delete %></p>

<%= link_to "Atrás", :back %>
