<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'schedules', 'data-turbolinks-track': 'reload' %>
  <title>Reporte de Citas</title>
</head>

<body>
  <p id="notice"><%= notice %></p>

  <div class="container" id="schedules">
    <h2 id="month">
      <%= link_to "<", date: @date.prev_month %>
      <%= @date.strftime("%B %Y") %>
      <%= link_to ">", date: @date.next_month %>
    </h2>
    <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @schedules_by_date[date] %>
    <ul>
      <% @schedules_by_date[date].each do |schedule| %>
      <li><%= link_to schedule.documento_paciente, schedule %></li>
      <% end %>
    </ul>
    <% end %>
    <% end %>
  </div>
</body>

</html>
