<p id="notice"><%= notice %></p>

<h1>Citas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre paciente</th>
      <th>Documento paciente</th>
      <th>Correo paciente</th>
      <th>Telefono paciente</th>
      <th>Nombre medico</th>
      <th>Dia</th>
      <th>Hora</th>
      <th>Tipo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @citas.each do |cita| %>
      <tr>
        <td><%= cita.nombre_paciente %></td>
        <td><%= cita.documento_paciente %></td>
        <td><%= cita.correo_paciente %></td>
        <td><%= cita.telefono_paciente %></td>
        <td><%= cita.nombre_medico %></td>
        <td><%= cita.dia %></td>
        <td><%= cita.hora %></td>
        <td><%= cita.tipo %></td>
        <td><%= link_to 'Show', cita %></td>
        <td><%= link_to 'Edit', edit_cita_path(cita) %></td>
        <td><%= link_to 'Destroy', cita, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cita', new_cita_path %>
