<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'citas', 'data-turbolinks-track': 'reload' %>
    <title>Citas</title>
</head>

<body>
    <main>

        <% if can? :create, Cita %>
            <%= link_to 'Agendar una Cita', new_cita_path, :class => "btn btn-primary"%>
        <% end %>

        <% if can? :read, Cita %>
            <h1>Reporte de Citas Agendadas</h1>

            <div class="table-responsive">
                <table class="table table-sm table-striped justify-content-center">
                    <tr>
                        <th>Nombre del Paciente</th>
                        <th>Documento del Paciente</th>
                        <th>Teléfono del Paciente</th>
                        <th>Nombre del Médico</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Tipo</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>

                    <% @cita.each do |cita| %>
                    <tr>
                        <td><%= cita.nombre_paciente %></td>
                        <td><%= cita.documento_paciente %></td>
                        <td><%= cita.telefono_paciente %></td>
                        <td><%= cita.nombre_medico %></td>
                        <td><%= cita.fecha %></td>
                        <td><%= cita.hora.strftime("%H:%M") %></td>
                        <td><%= cita.tipo %></td>
                        <td><%= link_to 'Mostrar', cita_path(cita) %></td>
                        <td><%= link_to 'Reprogramar', edit_cita_path(cita) %></td>
                        <td><%= link_to 'Cancelar', cita, method: :delete, data: { confirm: '¿Estas Seguro?' } %></td>
                    </tr>
                    <% end %>
                </table>
            </div>
        <% end %>
    </main>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>

</html>