<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'citas', 'data-turbolinks-track': 'reload' %>
    <title>Citas</title>
</head>

<body>
    <main>
        <h1>Todas las Citas</h1>

        <div class="table-responsive">
            <table class="table table-sm table-striped">
                <tr>
                    <th>Nombre del Paciente</th>
                    <th>Documento del Paciente</th>
                    <th>Teléfono del Paciente</th>
                    <th>Nombre del Médico</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Tipo</th>
                    <th></th>
                </tr>

                <% @cita.each do |cita| %>
                <tr>
                    <td><%= cita.nombre_paciente %></td>
                    <td><%= cita.documento_paciente %></td>
                    <td><%= cita.telefono_paciente %></td>
                    <td><%= cita.nombre_medico %></td>
                    <td><%= cita.fecha %></td>
                    <td><%= cita.hora.strftime("%H:%M") %></td>
                    <td><%= cita.tipo %></td>
                    <td><%= link_to 'Show', cita_path(cita) %></td>
                </tr>
                <% end %>
            </table>
        </div>
    </main>
</body>

</html>
