<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'citas', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'forms', 'data-turbolinks-track': 'reload' %>
    <title>Agendar una Cita</title>
</head>

<body>
    <main>
        <%= form_with scope: :citas, url: citas_path, local: true do |form| %>
            <div class="container">
                <div class="row py-4 align-items-center">
                    <div class="col-md-5 pr-lg-5 mb-2 mb-md-0">
                        <h1 style="text-align: center">Agendar una Cita</h1><br>
                        <%= image_tag("citas#{rand(5)}.svg", :class => "img-fluid mb-3 d-none d-md-block") %>
                    </div>

                    <!-- Agendar Citas Form -->
                    <div class="col-md-7 col-lg-6 ml-auto">
                        <form action="#">
                            <div class="row">

                                <!-- Nombre Completo del Paciente -->
                                <div class="input-group col-lg-12 mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-white px-4 border-md border-right-0">
                                            <i class="fa fa-user text-muted"></i>
                                        </span>
                                    </div>
                                    <% if current_user %>
                                        <%= form.text_field :nombre_paciente, required: true, value:current_user.name + ' ' + current_user.surname, :placeholder => "Nombre Completo del Paciente", :class => "form-control bg-white border-left-0 border-md" %>
                                    <% else %>
                                        <%= form.text_field :nombre_paciente, required: true, :placeholder => "Nombre Completo del Paciente", :class => "form-control bg-white border-left-0 border-md" %>
                                    <% end %>
                                </div>

                                <!-- Documento de Identidad -->
                                <div class="input-group col-lg-6 mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-white px-4 border-md border-right-0">
                                            <i class="fa fa-id-card text-muted"></i>
                                        </span>
                                    </div>
                                    <% if current_user %>
                                        <%= form.text_field :documento_paciente, required: true, value:current_user.document, :placeholder => "Documento de Identidad", :class => "form-control bg-white border-left-0 border-md"%>
                                    <% else %>
                                        <%= form.text_field :documento_paciente, required: true, :placeholder => "Documento de Identidad", :class => "form-control bg-white border-left-0 border-md"%>
                                    <% end %>
                                </div>

                                <!-- Teléfono Móvil -->
                                <div class="input-group col-lg-6 mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-white px-4 border-md border-right-0">
                                            <i class="fa fa-mobile text-muted"></i>
                                        </span>
                                    </div>
                                    <% if current_user %>
                                        <%= form.telephone_field :telefono_paciente, required: true, value:current_user.phone, :placeholder => "Teléfono Móvil del Paciente", :class => "form-control bg-white border-md border-left-0 pl-3"%>
                                    <% else %>
                                        <%= form.telephone_field :telefono_paciente, required: true, :placeholder => "Teléfono Móvil del Paciente", :class => "form-control bg-white border-md border-left-0 pl-3"%>
                                    <% end %>
                                </div>

                                <!-- Nombre Completo del Médico (Dropdown) -->
                                <div class="input-group col-lg-12 mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-white px-4 border-md border-right-0">
                                            <i class="fa fa-user text-muted"></i>
                                        </span>
                                    </div>
                                    <%= form.collection_select :nombre_medico, User.where(rol: "medico"), :formatted_name, :formatted_name, {:prompt => false}, class: "form-control" %>    
                                </div>

                                <!-- Divider Text -->
                                <div class="form-group col-lg-12 mx-auto d-flex align-items-center mb-4">
                                    <span class="px-2 medium text-muted font-weight-bold text-muted">Fecha y Hora de la
                                        Cita</span>
                                </div>

                                <!-- Fecha de la Cita -->
                                <div class="input-group col-lg-6 mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-white px-4 border-md border-right-0">
                                            <i class="fa fa-calendar text-muted"></i>
                                        </span>
                                    </div>
                                    <%= form.date_field :fecha, min: Date.today + 21, max: Date.today + 81, :class => "form-control bg-white border-left-0 border-md" %>
                                </div>

                                <!-- Hora de la Cita -->
                                <div class="input-group col-lg-6 mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-white px-4 border-md border-right-0">
                                            <i class="fa fa-clock text-muted"></i>
                                        </span>
                                    </div>
                                    <%= form.time_field :hora, :class => "form-control bg-white border-left-0 border-md" %>
                                </div>

                                <%if user_signed_in?%>
                                    <%if current_user.rol == "admin" || current_user.rol == "medico"%>
                                        <!-- Tipo de Cita (Dropdown) -->
                                        <div class="input-group col-lg-12 mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                                    <i class="fa fa-user text-muted"></i>
                                                </span>
                                            </div>
                                            <%= form.text_field :tipo, required: true, :placeholder => "Tipo de Cita", :value => "Web", :class => "form-control bg-white border-left-0 border-md" %>
                                        </div>
                                    <% end %>
                                <% end %>

                                <!-- Botón Agendar Cita -->
                                <div class="form-group col-lg-12 mx-auto mb-0">
                                    <%= form.submit "Agendar Cita", :class => "btn btn-primary btn-block py-2" %>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        <% end %>
    </main>
    <%= javascript_pack_tag 'forms', 'data-turbolinks-track': 'reload' %>
</body>

</html>
