<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'citas', 'data-turbolinks-track': 'reload' %>
    <title>Nueva Cita</title>
</head>

<body>
    <main>
        <h1>Nueva Cita</h1>
        <%= form_with scope: :citas, url: citas_path, local: true do |form| %>

        <div class="field">
            <%= form.label :Nombre_completo_del_Paciente %><br>
            <% if current_user %>
                <%= form.text_field :nombre_paciente, required: true, value:current_user.name + ' ' + current_user.surname %>
            <% else %>
                <%= form.text_field :nombre_paciente, required: true %>
            <% end %>
        </div>
        <div class="field">
            <%= form.label :Docuemnto_de_Identidad %><br>
            <% if current_user %>
                <%= form.text_field :documento_paciente, required: true, value:current_user.document %>
            <% else %>
                <%= form.text_field :documento_paciente, required: true %>
            <% end %>
        </div>
        <div class="field">
            <%= form.label :Teléfono %><br>
            <% if current_user %>
                <%= form.text_field :telefono_paciente, required: true, value:current_user.phone %>
            <% else %>
                <%= form.text_field :telefono_paciente, required: true %>
            <% end %>
        </div>
        <div class="field">
            <%= form.label :Medico %><br>
            <!-- Agregar el dropdown de Medicos -->
            <%= form.text_field :nombre_medico %>
        </div>
        <div class="field">
            <%= form.label :Fecha_de_la_cita %><br />
            <%= form.date_field :fecha, min: Date.today + 21, max: Date.today + 81, value: form.object.try(:strftime,"%m/%d/%Y", :start_year, "Date.today.year")%>
        </div>
        <div class="field">
            <%= form.label :Hora_de_la_cita %><br>
            <%= form.text_field :hora %>
        </div>
        <%if user_signed_in?%>
            <%if current_user.rol == "admin" || current_user.rol == "medico" || current_user.rol == "secretario"%>
                <div class="field">
                    <%= form.label :Tipo_de_cita %><br>
                    <%= form.text_field :tipo, :value => "Web" %>
                </div>
            <% end %>
        <% end %>

        <div class="actions">
            <%= form.submit "Agendar Cita" %>
        </div>

        <% end %>
    </main>
</body>

</html>
