<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre paciente:</strong>
  <%= @cita.nombre_paciente %>
</p>

<p>
  <strong>Documento paciente:</strong>
  <%= @cita.documento_paciente %>
</p>

<p>
  <strong>Telefono paciente:</strong>
  <%= @cita.telefono_paciente %>
</p>

<p>
  <strong>Nombre medico:</strong>
  <%= @cita.nombre_medico %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @cita.fecha %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @cita.tipo %>
</p>

<%= link_to 'Edit', edit_cita_path(@cita) %> |
<%= link_to 'Back', citas_path %>
