<!DOCTYPE html>
<html>

<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
</head>

<body>
  <!--
  <% if notice %>
  <div class="alert alert-success" role="alert"><%= notice %></div>
  <% end %>
  <% if alert %>
  <div class="alert alert-danger" role="alert"><%= alert %></div>
  <% end %>
  -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">ACME IPS</label>
    <ul>
      <li><%= link_to "Inicio", home_index_path, :class => "a"%></li>
      <li><%= link_to "Citas", citas_index_path, :class => "a"%></li>
      <li><a href="#">Iniciar Sesión</a></li>
      <li><a href="#">Registrarse</a></li>
    </ul>
  </nav>
</body>

</html>